
<footer>
    <div class="footer-sections">
      <div class="footer-section">
        <h5>Company</h5>
        <a href="/listings">About Us</a>
        <a href="/listings">Careers</a>
        <a href="/listings">Press</a>
        <a href="/listings">Affiliates</a>
      </div>
      <div class="footer-section">
        <h5>Support</h5>
        <a href="/listings">Help Center</a>
        <a href="/listings">Contact Us</a>
        <a href="/listings">FAQ</a>
      </div>
      <div class="footer-section">
        <h5>Legal</h5>
        <a href="/listings">Privacy Policy</a>
        <a href="/listings">Terms of Service</a>
        <a href="/listings">Cookies</a>
      </div>
      <div class="footer-section">
        <h5>Social</h5>
        <a href="/listings" target="_blank"><i class="fa-brands fa-square-facebook"></i> Facebook</a>
        <a href="/listings" target="_blank"><i class="fa-brands fa-square-instagram"></i> Instagram</a>
        <a href="/listings" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="f-info-brand"> &copy; HouseTrip Private Limited</div>
    </div>
</footer>
  